<%- include('../partials/header') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">

<h1 id="marketplace">Marketplace</h1>
    
<table id="list">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </thead>
    <% cars.forEach(function(c) { %>
      <tr id="row">
        <td class="data"><%= c.year %></td>
        <td class="data"><%= c.make %></td>
        <td class="data"><%= c.model %></td>
        <td class="data"><%= c.price %></td>
        <% if (c.make == "BMW") { %>
          <td class="data"><img class= "pic" id= "bmwLogo" src="/images/bmw.jpeg" /></td>
      <% } else if (c.make == "Audi") { %>
        <td class="data"><img class= "pic" id= "audiLogo" src="/images/audi.png" /></td>
        <% } else if (c.make == "Mercedes-Benz") { %>
          <td class="data"><img class = "pic" id= "mercedesLogo" src="/images/mercedes.png" /></td>
      <% } else { %>
          <td class="data"><img class= "pic" id= "porscheLogo" src="/images/porsche.png" /></td>
      <% } %>
      
           
         
        <td><a href="/cars/<%= c._id %>"><button class="details">View Listing</button></a></td>
      </tr>
      <% }); %>
</table>
