<%- include('../partials/header') %>
    
<table id="list">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </thead>
    <% cars.forEach(function(c) { %>
      <tr>
        <td><%= c.year %></td>
        <td><%= c.make %></td>
        <td><%= c.model %></td>
        <td><%= c.price %></td>
        <td><a href="/cars/<%= c._id %>">DETAILS</a></td>
      </tr>
      <% }); %>