<%- include('../partials/header') %>

<section id="show-page">
    <div>Year: </div>
    <div>
      <%= car.year %>
    </div>
    <div>Make: </div>
    <div>
      <%= car.make %>
    </div>
    <div>Model: </div>
    <div>
      <%= car.model %>
    </div>
    <div>Price: </div>
    <div>
      <%= car.price %>
    </div>
